<!DOCTYPE html>
<head>
<title>home</title>
</head>
<style>
h1 {
color: rgb(232,232,232);
text-align: center;
font-size: 50px;
}
body {
background-image: url('https://wallpaperaccess.com/full/1920627.jpg');
background-repeat: no-repeat;
background-size: cover;
}
a:link {
  color: white;
  font-size: 70px;
  text-decoration: underline;
  }
a:visited {
  color: white;
}
section {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)}
</style>
<section>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="accounts/login">Login</a>
<br></br>
&nbsp;<a href="accounts/register">Register</a>
</section>
<body>
<br></br>
<br></br>
<br></br>
<h1>Watch Movies</h1>
</body>
</html>






